body {
  background-image: url("../images/background.jpg");
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: 1px solid grey;
  border-radius: 12px;
  padding: 5px 10px;
  background-color: #e7e9ed;
  cursor: pointer;
  font-size: 15px;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

select {
  /* for the drop down all articles sort menu */
  margin-bottom: 30px;
  margin-top: 15px;
}

label,
select {
  font-size: 1rem;
}

.error {
  font-size: 2rem;
}
