.article-card-metadata {
  color: #545a61;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  p.author {
    grid-area: author;
  }
  p.date {
    grid-area: date;
  }
  p.topic {
    grid-area: topic;
  }
  p.votes {
    grid-area: votes;
  }
  p.comments {
    grid-area: comments;
  }
  .article-card-metadata {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "author date topic" "votes comments .";
  }
}

.article-comment,
.articleCard {
  border: solid 2px grey;
  text-align: justify;
  padding: 15px;
  margin: 0 auto 40px;
  background-color: #efefef;
  border-radius: 4px;
  box-shadow: 5px 10px #888888;
  width: 80%;
}

.vote-buttons-and-comment-body-section {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto auto;
  column-gap: 15px;
  grid-template-areas:
    "comment-buttons comment-meta-data"
    "comment-buttons comment-body";
}

@media only screen and (max-width: 768px) {
  .vote-buttons-and-comment-body-section {
    column-gap: 20px;
  }
}

.comment-body {
  grid-area: comment-body;
}

.vote-buttons-and-comment-body-section p {
  padding-top: 5px;
}

.article-comment p {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}

.delete-btn {
  background-color: #a41212;
  border: 1px solid #7d0828;
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 28px;
}

.voteButton {
  background-color: #efefef;
  border: none;
  padding: 0;
  margin: 0;
}

.comment-meta-data {
  grid-area: comment-meta-data;
  display: flex;
  justify-items: start;
}

.comment-meta-data p {
  margin-right: 3%;
  font-size: 14px;
  color: #545a61;
  margin-bottom: 10px;
  margin-top: 2px;
}

.comment-buttons {
  grid-area: comment-buttons;
  width: 18px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .comment-buttons {
    width: 40px;
  }
}
