.article-card-metadata {
  color: gray;
  display: flex;
  justify-content: space-between;
}

.article-comment,
.articleCard {
  border: solid 2px grey;
  text-align: justify;
  padding: 15px;
  margin: 0 auto 40px;
  background-color: #efefef;
  border-radius: 4px;
  box-shadow: 5px 10px #888888;
  width: 80%;
}

.vote-buttons-and-comment-body-section {
  display: grid;
  grid-template-columns: 1fr 12fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "comment-buttons comment-meta-data"
    "comment-buttons comment-body";
}

.comment-body {
  grid-area: comment-body;
}

.vote-buttons-and-comment-body-section p {
  padding-top: 5px;
}

.article-comment p {
  display: flex;
  justify-content: start;
  margin-top: 0;
}

.delete-btn {
  background-color: #a41212;
  border: 1px solid #7d0828;
  color: white;
  font-weight: bold;
  height: 28px;
}

.voteButton {
  background-color: #efefef;
  border: none;
  padding: 0;
  margin: 0;
}

.comment-meta-data {
  grid-area: comment-meta-data;
  display: flex;
  justify-items: start;
}

.comment-meta-data p {
  margin-right: 20px;
  font-size: 14px;
  color: #545a61;
  margin-bottom: 10px;
  margin-top: 2px;
}

.comment-buttons {
  grid-area: comment-buttons;
  width: 18px;
  text-align: center;
}

.comment-buttons p {
  margin: 0;
  text-align: center;
}
