.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App {
  text-align: center;
  margin: 0 15%;
  min-width: 260px;
}

@media only screen and (max-width: 420px) {
  .App {
    margin: 0 5%;
  }
}

.header {
  grid-area: header;
  border-bottom: solid 2px;
  margin-bottom: 15px;
}

.nav {
  grid-area: nav;
}

.router {
  grid-area: router;
}
