.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr minmax(768px, 900px) 1fr;
  grid-template-areas:
    ". header ."
    ". nav ."
    ". router .";
}

@media only screen and (max-width: 768px) {
  button,
  label,
  select,
  textarea,
  .App {
    font-size: 1.75rem;
  }
}

.header {
  grid-area: header;
  border-bottom: solid 2px;
  margin-bottom: 15px;
}

.nav {
  grid-area: nav;
}

.router {
  grid-area: router;
}
