.loader-container {
  display: grid;
  grid-template-rows: 75vh;
}

.loader {
  justify-self: center;
  align-self: center;
  z-index: 1;
  width: 150px;
  height: 150px;
  border: 16px solid rgb(207, 206, 206);
  border-radius: 50%;
  border-top: 16px solid maroon;
  -webkit-animation: spin 2s linear infinite;
  animation: loader-spin 2s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
