.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid rgb(207, 206, 206);
  border-radius: 50%;
  border-top: 16px solid maroon;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: loader-spin 2s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
