.article-meta-data {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-template-areas: "comment-buttons article-author-image article-author article-published article-topic";
  text-align: left;
  align-items: center;
}

.article-author-image {
  grid-area: article-author-image;
  border-radius: 50%;
  width: 70px;
}

.article-author {
  grid-area: article-author;
}

.article-topic {
  grid-area: article-topic;
}

.article-published {
  grid-area: article-published;
}

.article-votes {
  grid-area: article-votes;
}

.article-author,
.article-topic {
  margin: 0;
}

.article-comments-heading {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .article-comments-heading {
    margin-left: 20px;
  }
}

.article-meta-data * {
  margin-right: 15px;
}

.full-article {
  border: solid 1px #888888cc;
  padding: 15px;
  border-radius: 8px;
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.full-article p {
  text-align: justify;
  /* font-size: 2rem; */
}

.up-down-vote-buttons button {
  background-color: #efefef;
  border: none;
  padding: 0;
  margin: 0;
}

.up-down-vote-buttons {
  grid-area: comment-buttons;
  width: 18px;
  text-align: center;
  /* margin-right: 30px; */
}

@media only screen and (max-width: 768px) {
  .up-down-vote-buttons {
    margin-right: 30px;
  }
}

.full-article h2 {
  width: 100%;
}
