.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-areas:
    ". header ."
    ". nav ."
    ". router .";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.router {
  grid-area: router;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid maroon;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: loader-spin 2s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  color: #7d0828;
  background: lightgray;
}

nav {
  margin: 0 0 20px 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: #545a61;
}

button {
  border: 1px solid grey;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 12px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 15px;
}

button:focus {
  outline: none;
}

button.selected {
  background-color: #a41212;
  border: 1px solid #7d0828;
  color: white;
  font-weight: bold;
}

.articleCard {
  border: maroon solid;
  text-align: left;
  padding: 0 20px;
}

.article-card-metadata {
  color: gray;
  display: flex;
  justify-content: space-between;
}

.full-article p {
  text-align: justify;
}

.article-author-image {
  grid-area: article-author-image;
  width: 90px;
}

.article-author {
  grid-area: article-author;
}

.article-topic {
  grid-area: article-topic;
}

.article-published {
  grid-area: article-published;
}

.article-votes {
  grid-area: article-votes;
}

.article-meta-data {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "article-author-image article-author article-topic"
    "article-author-image article-published article-votes";
  text-align: left;
  align-items: center;
}
.article-author,
.article-topic {
  margin: 0;
}

.article-comments-heading {
  text-align: left;
}

.article-comment {
  /* border: solid; */
  text-align: justify;
  padding: 15px;
  margin: 0 auto 40px;
  background-color: #efefef;
  border-radius: 4px;
  box-shadow: 5px 10px #888888;
}

ul {
  list-style-type: none;
}
